@import "../variables";

.pf-triangle {
  fill: #000;
  transition: {
    property: fill;
    duration: 3s;
    timing-function: linear;
  }

  &:hover {
    fill: #fff;
    transition: {
      property: fill;
      duration: 0s;
    }
  }
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.links {
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  list-style: none;

  & > li {
    display: inline-block;
  }

  a:link, a:visited, a:link:active, a:visited:active {
    padding: 0.1em 0.5em;
    color: #444444;
    position: relative;

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      background-color: #00000000;
      transition: all 0.1s linear;
    }
    &::before {
      left: 1em;
    }
    &::after {
      right: 1em;
    }
  }
  a:hover {
    color: $primary-color;

    &::before {
      left: 0;
      background-color: #000000FF;
    }
    &::after {
      right: 0;
      background-color: #000000FF;
    }
  }
}
