@import "../settings";

$topbar-icon-size: 2rem;
$topbar-item-padding: $global-margin * 0.7;

.header {
  z-index: 1;
  position: relative;
  background-color: $topbar-background;
  color: $white;
  font-weight: bold;
  box-shadow: 0 0 5px $black;

  a {
    display: inline-block;
    padding: $topbar-item-padding;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($topbar-background, 10%);
    }
  }

  i {
    display: inline-block;
    width: $topbar-icon-size;
    height: $topbar-icon-size;
    font-size: $topbar-icon-size;
    text-align: center;
  }
}

.pf-icon {
  width: $topbar-icon-size;
  height: $topbar-icon-size;
  border-radius: 50%;
  margin-right: $topbar-item-padding;
}
