@import "../../settings";

.nav {
  border-right: 1px solid $dark-gray;
  padding-top: $global-margin;
  height: 100%;

  ul {
    list-style-type: none;
  }

  & > ul {
    margin: 0;
  }

  & > ul ul {
    margin: 0 0 0 8px;
  }

  a {
    display: block;
    position: relative;
    padding: 0.4rem $global-margin 0.4rem 0;
    color: $secondary-color;

    &:hover, &.active {
      color: $black;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0.25rem;
      right: 0;
      width: 0%;
      height: 1px;
      background-color: $dark-gray;
      transition: width 0.2s;
    }
    &.active::after {
      width: 100%;
    }
  }

  // Change this to use .off-canvas from `App.scss` when CSS Modules is able to.
  &.off-canvas {
    border: none;
    padding: 0;

    & > ul {
      margin-left: $global-margin;
    }
  }
}

.icon-bar {
  display: none;

  // Change this to use .off-canvas from `App.scss` when CSS Modules is able to.
  .off-canvas & {
    display: flex;
    margin-bottom: $global-margin;
    text-align: center;
    font-size: 2rem;
  }
}

.path-divider::before {
  content: "/";
  position: relative;
  top: 0.1em;
  padding: 0 4px;
  font-size: 1.2em;
}
