@import "../settings";

.page {
  padding-bottom: $global-margin * 3;
  min-height: calc(100vh - 200px);
}

.title {
  display: inline-block;
  margin-bottom: 0;

  small {
    margin-left: 1rem;
    font-size: 1em;

    @include breakpoint(medium) {
      font-size: 0.7em;
    }
  }

  a {
    border: none;
  }
}

.title-divider {
  margin-top: 0.5rem;
}
