@import '../settings';

.project-viewer {
  flex: auto;
  display: flex;

  @include breakpoint(medium down) {
    flex-direction: column;
  }
}

.side-bar {
  margin: $global-padding 0 $global-padding $global-padding;
  border-right: 1px solid $hr-color;
  white-space: nowrap;

  a {
    box-sizing: border-box;
    position: relative;
    left: 1px;
    padding: .5rem 1.5rem .5rem .5rem;
    border: 1px solid rgba(0, 0, 0, 0);

    &.active {
      border-color: $hr-color $body-background $hr-color $hr-color;
    }
  }

  .path-divider::before {
    content: "/";
    position: relative;
    top: .2rem;
    margin: 0 .2rem;
    font-size: 1.4rem;
  }

  @include breakpoint(medium down) {
    display: none;
  }
}

.main {
  flex: auto;
  margin: $global-padding $global-padding $global-padding 2*$global-padding;

  @include breakpoint(medium down) {
    margin: $global-padding;
  }
}
