@import '../settings';

.project-viewer-container {
  composes: grid-container from '../foundation.scss';
  width: 100%;
}

.project-viewer {
  composes: grid-x grid-padding-x from '../foundation.scss';
  padding: $global-margin 0;
}

.side-bar {
  composes: cell shrink from '../foundation.scss';
  border-right: $hr-border;

  @include breakpoint(medium down) {
    display: none;
  }
}

.nav-list {
  composes: menu vertical from '../foundation.scss';

  ul {
    margin: 0;
    list-style-type: none;
  }

  a {
    position: relative;
    margin-left: $global-margin;
    padding-left: 0;
    padding-right: $global-margin;
    border: none;
    transition: color 0.2s;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0.2rem;
      right: 0;
      width: 0%;
      height: 1px;
      background-color: $hr-color;
      transition: width 0.2s;
    }

    &.active, &:hover {
      color: $black;
    }
    &.active::before {
      width: 100%;
    }
  }
}

.path-divider::before {
  content: "/";
  position: relative;
  top: 0.2em;
  margin: 0 0.2em;
  font-size: 1.4em;
}

.main {
  composes: cell auto from '../foundation.scss';

  @include breakpoint(large) {
    padding-left: $global-margin * 2 !important;
  }
}
