@import "../settings";

$section-anchor-padding: 1rem;

.title {
  position: relative;
  margin-top: -$section-anchor-padding;
  padding-top: $section-anchor-padding;
}

.hash {
  display: inline-block;
  position: absolute;
  top: $section-anchor-padding;
  right: 0;

  &:link, &:visited, &:active {
    color: $light-gray;
  }

  &:hover {
    color: $primary-color;
  }
}
