@import '../settings';

.side-bar {
  margin: $global-padding 0 $global-padding $global-padding;
  border-right: 1px solid $hr-border;
  white-space: nowrap;

  a {
    padding: .5rem 1.5rem .5rem .5rem;
  }

  @include breakpoint(medium down) {
    display: none;
  }
}

.path-divider {
  position: relative;
  top: .2rem;
  margin: 0 .2rem;
  font-size: 1.4rem;
  color: $secondary-color;
}

a.active {
  border-bottom: 1px solid $hr-border;
  color: $secondary-color;
}
