@import '../settings';

.side-bar {
  margin: $global-padding 0 $global-padding $global-padding;
  border-right: 1px solid $hr-border;
  white-space: nowrap;

  @include breakpoint(medium down) {
    margin: $global-padding;
    border: none;
    white-space: normal;
  }
}
