@import '../settings';

$icon-size: 2rem;

.top-bar {
  background-color: $topbar-background;
  border: 1px solid $topbar-background;
  color: $white;
  font-weight: bold;

  a {
    display: inline-block;
    padding: calc(#{$global-margin} - 3px);
    background-color: $topbar-background;
    border: 3px solid $topbar-background;
    color: inherit;
    text-decoration: none;
    transition: {
      property: background-color border-color;
      duration: .2s;
    }

    &:hover {
      background-color: darken($topbar-background, 10%);
      border-color: $white;
    }

    i {
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      font-size: $icon-size;
      text-align: center;
    }
  }
}

.nav {
  composes: grid-container grid-x top-bar from '../foundation.scss';
}
.left {
  composes: top-bar-left from '../foundation.scss';
}
.right {
  composes: top-bar-right from '../foundation.scss';
}

.icon {
  width: $icon-size;
  height: $icon-size;
  border-radius: 50%;
  margin-right: $global-margin;
}
