.statement {
  font-family: "MJXc-TeX-main-R, MJXc-TeX-main-Rw";
  font-size: 1.05em;
  line-height: 100%;

  & > span {
    white-space: nowrap;
  }

  &::before {
    content: '“';
    white-space: nowrap;
  }
  &::after {
    content: '”';
    white-space: nowrap;
  }
}
