@import "../../../../settings";

.container {
  margin-bottom: $paragraph-margin-bottom;
}

.simulator {
  text-align: center;
}

.controls {
  margin-top: 0.5rem;
  text-align: center;

  & > div {
    display: inline-block;
    margin: 0 0.5rem;
  }
}

button.active {
  text-decoration: underline;
}
