@import "../settings";

.app {
  width: 100vw;
  height: 100vh;

  @media print {
    height: auto;
  }
}

.grid {
  @media print {
    display: block;
    height: auto !important;
  }
}

.body {
  @media print {
    width: 100% !important;
    padding: 0 !important;
  }
}

.body-content {
  min-height: 100%;
  font-size: 1.2rem;

  @media print {
    font-size: 1rem;
    padding: 0;
  }
}

.body-padding {
  composes: cell from "../foundation.scss";
  composes: large1 from "../foundation.scss";

  @media print {
    display: none;
  }
}

blockquote {
  color: inherit;
}

figure {
  margin-bottom: 1rem;
  text-align: center;

  & > img {
    margin-bottom: 5px;
  }
}

figcaption {
  text-align: center;
}
