@import "../../settings";
@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/variables";

$cuboid-width: 440px;
$cuboid-height: 260px;

.diagram-container {
  & > div {
    position: relative;
    width: 100%;
    min-width: 540px;
  }
}

.diagram {
  display: block;
  width: $cuboid-width;
  height: $cuboid-height;
  margin: 0 auto;
}

.labels {
  position: absolute;
  top: 0;
  left: 50%;
  width: $cuboid-width;
  height: $cuboid-height;
  margin-left: -$cuboid-width/2;

  & > div {
    position: absolute;
  }
}

.id-button {
  margin: 0 .2rem .5rem 0;

  &.selected {
    text-decoration: underline;
  }
}

.input-table {
  th, td {
    padding: 0;
    text-align: center;
  }
  thead th {
    padding: .3rem;
  }

  th:first-child {
    border-right: $table-border;
  }

  label {
    cursor: pointer;
    transition: {
      property: background-color;
      duration: .15s;
    }

    &:hover {
      background-color: rgba($primary-color, .1);
    }
    &.selected {
      background-color: rgba($primary-color, .18);
    }
  }

  input[type=radio] {
    margin: .7rem;
  }
}

.steps {
  li:not(:last-child) {
    cursor: pointer;
    transition: {
      property: background-color;
      duration: .15s;
    }

    &:hover {
      background-color: rgba($primary-color, .1);
    }
    &.selected {
      background-color: rgba($primary-color, .18);
    }
  }
  .contradiction {
    color: $alert-color;
  }
}

.knowledge-table {
  th, td {
    padding: .3rem;
    text-align: center;
  }

  th:first-child {
    border-right: $table-border;
  }

  td:not(.unknown) {
    cursor: pointer;
    transition: {
      property: background-color;
      duration: .15s;
    }

    &:hover {
      background-color: rgba($primary-color, .1);
    }
    &.selected {
      background-color: rgba($primary-color, .18);
    }
  }
}

.true, .false, .unknown {
  font-size: 1.5em;
  &::before {
    @include fa-icon();
  }
}
.true::before {
  content: $fa-var-check;
  color: $success-color;
}
.false::before {
  content: $fa-var-times;
  color: $alert-color;
}
.unknown::before {
  content: $fa-var-question;
  color: rgba(0, 0, 0, .1);
}
