@import "../../settings";
@import "~font-awesome/scss/mixins";
@import "~font-awesome/scss/variables";

$cuboid-width: 440px;
$cuboid-height: 260px;

.diagram-container {
  & > div {
    position: relative;
    width: 100%;
    min-width: 540px;
  }
}

.diagram {
  display: block;
  width: $cuboid-width;
  height: $cuboid-height;
  margin: 0 auto;
}

.labels {
  position: absolute;
  top: 0;
  left: 50%;
  width: $cuboid-width;
  height: $cuboid-height;
  margin-left: -$cuboid-width / 2;

  & > div {
    position: absolute;
  }
}

.id-button {
  composes: button hollow from "../../foundation.scss";
  margin: 0 0.5rem 0.5rem 0;

  &:hover, &.selected {
    border-color: $primary-color !important;
    background-color: $primary-color !important;
    color: $white !important;
  }
}

.input-table {
  width: 100% !important;

  th, td {
    text-align: center;
  }

  tbody th {
    padding: 0 1rem;
  }

  td {
    padding: 0;
  }

  label {
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover, &.selected {
      background-color: rgba($primary-color, 0.2);
    }
  }

  input[type=radio] {
    margin: 14px;
  }
}

.steps {
  margin: 0 0 0 2em;
  white-space: nowrap;

  li:not(:last-child) {
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover, &.selected {
      background-color: rgba($primary-color, 0.2);
    }
  }
}

.scroller-fix {
  overflow-y: hidden;
}

.contradiction {
  color: $alert-color;
}

.knowledge-table {
  width: 100% !important;

  th, td {
    text-align: center;
  }

  tbody th {
    padding: 0 1rem;
  }

  tbody td {
    padding: 0.5rem;
  }

  td:not(.unknown) {
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover, &.selected {
      background-color: rgba($primary-color, 0.2);
    }
  }
}

.true, .false, .unknown {
  font-size: 1.5em;
  &::before {
    @include fa-icon();
  }
}
.true::before {
  content: $fa-var-check;
  color: $success-color;
}
.false::before {
  content: $fa-var-times;
  color: $alert-color;
}
.unknown::before {
  content: $fa-var-question;
  color: rgba(0, 0, 0, 0.1);
}
