@import "../../settings";

.ambigram {
  padding: 60px 0;
  text-align: center;

  @include breakpoint(medium) {
    padding: 80px 0;
  }

  @include breakpoint(large) {
    padding: 100px 0;
  }

  & > img {
    transform: rotate(180deg);
    transition: transform 0.9s;

    &:hover {
      transform: rotate(0deg);
    }
  }
}
