@import "../settings";

$bar-width: 1.4rem;
$bar-spacing: 1px;

.title {
  text-align: center;
  font-weight: bold;
}

.bar-graph {
  border: none;

  thead, tbody, tr, th, td {
    border: none;
  }
  th, td {
    padding: 0 ($global-margin / 2);
  }
}

.label {
  text-align: right;
}

.datum {
  width: 100%;
  position: relative;
}

.bar {
  margin: $bar-spacing 0;
  height: $bar-width;
  background-color: $primary-color;
}

.display-value {
  position: absolute;
  top: $bar-spacing;
  right: 0;
  height: $bar-width;
  padding: 0 0.5rem;
  background-color: rgba($body-background, 0.5);
  overflow: visible;
  opacity: 0;
  transition: opacity 0.2s;

  .datum:hover & {
    opacity: 1;
  }
}
