@import "../../settings";

.rainbow-value-noise {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

$cube-size: 280px;
$cube-perspective: 800px;
$cube-color: $primary-color;
:export {
  cube-size: $cube-size;
  cube-color: $cube-color;
}

.cube-container {
  position: relative;
  height: $cube-size * 2;
  perspective: $cube-perspective;
  perspective-origin: 50% 50%;
  cursor: pointer;
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $cube-size;
  height: $cube-size;
  margin: (-$cube-size / 2) 0 0 (-$cube-size / 2);
  transform-style: preserve-3d;

  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);

    canvas {
      width: $cube-size;
      height: $cube-size;
      border: 1px solid black;
    }
  }

  .F { transform: translateZ( $cube-size / 2)                ; }
  .B { transform: translateZ(-$cube-size / 2) rotateY(180deg); }
  .U { transform: translateY(-$cube-size / 2) rotateX( 90deg); }
  .D { transform: translateY( $cube-size / 2) rotateX(-90deg); }
  .L { transform: translateX(-$cube-size / 2) rotateY(-90deg); }
  .R { transform: translateX( $cube-size / 2) rotateY( 90deg); }
}
