@import "../../../settings";

.hangman-game {
  font-family: monospace;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
}

.miss {
  position: relative;
  margin: 0 0.1rem;

  &::before {
    position: absolute;
    content: "";
    left: -20%;
    top: 50%;
    right: -20%;
    border-top: 2px solid;
    transform: rotate(-45deg);
  }
}

.words-table {
  text-align: center;
  &, tr, tbody {
    border: none;
  }
  td {
    padding: 0.4em;
  }

  .word {
    font-family: monospace;
    font-size: 1.2rem;
  }

  .difficulty {
    font-size: 1rem;
  }
}

.lengths-plot {
  position: relative;
  height: 250px;
  margin: 2em 0 3.5em;

  .header {
    text-align: center;
    position: relative;
    top: -1em;
    width: 100%;
  }
  .body {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .grid-line {
    position: absolute;
    width: 100%;
    height: 0;

    .label {
      position: absolute;
      top: -0.6em;
      width: 1.5em;
      text-align: right;
      font-size: 0.8em;
    }

    .line {
      position: absolute;
      right: 0;
      left: 1.5em;
      height: 1px;
      background-color: gray;
    }
  }

  .box-plot-container {
    margin-left: 1.5em;
    height: 100%;
  }

  .box-plot {
    display: inline-block;
    position: relative;
    width: calc(100% / 14);
    height: 100%;

    .box {
      position: absolute;
      left: 5%;
      right: 5%;
      border: 1px solid black;
      background-color: lighten($primary-color, 50%);
    }

    .median {
      position: absolute;
      left: 5%;
      right: 5%;
      height: 2px;
      background-color: black;
    }

    .whiskers {
      position: absolute;
      left: 25%;
      right: 25%;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 0.5px);
        bottom: 0;
        width: 1px;
        background-color: black;
      }
    }
  }
}
