@import '../../settings';

$icon-view-size: 8rem;
$icon-view-padding: 2.5rem;

.examples {
  th {
    text-align: center;
  }
  td {
    padding: $global-padding;
    text-align: center;
  }
}

.primary-button {
  composes: button from "../../foundation.scss";
  margin: 0;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.secondary-button {
  composes: primary-button;
  composes: hollow secondary from "../../foundation.scss";
}

.alert-button {
  composes: primary-button;
  composes: alert from "../../foundation.scss";
}

.spinner {
  color: $primary-color;
}

.output {
  display: table;
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
  border: 1px solid $medium-gray;
  font-size: 1.5rem;

  & > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.cheatsheet {
  th, td {
    text-align: center;
  }

  td {
    position: relative;
    padding: 1px;

    &:hover i {
      z-index: 100;
      position: absolute;
      left: 50%;
      top: 50%;
      width: $icon-view-size;
      height: $icon-view-size;
      margin-left: -$icon-view-size / 2;
      margin-top: -$icon-view-size / 2;
      border: 1px solid black;
      background-color: #fff;
      font-size: $icon-view-size - $icon-view-padding;
      line-height: $icon-view-size;
    }
  }

  i {
    font-size: 2rem;
    pointer-events: none;
  }
}
