@import '../settings';

$icon-size: 2rem;

.top-bar {
  background-color: $topbar-background;
  color: $white;
  font-weight: bold;

  a {
    display: inline-block;
    position: relative;
    padding: $global-margin;
    background-color: inherit;
    color: inherit;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1px;
      height: 3px;
      margin: 0 auto;
      background-color: inherit;
      transition: background-color 0.2s;
    }
    &:hover::before {
      background-color: $white;
    }

    i {
      display: inline-block;
      width: $icon-size;
      height: $icon-size;
      font-size: $icon-size;
      text-align: center;
    }
  }
}

.nav {
  composes: grid-container grid-x top-bar from '../foundation.scss';
}
.left {
  composes: top-bar-left from '../foundation.scss';
  flex: 0 0 auto !important;
}
.right {
  composes: top-bar-right from '../foundation.scss';
  flex: 0 0 auto !important;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  border-radius: 50%;
  margin-right: $global-margin;
}
